.search-input {
  height: 71px;
  width: 58%;
  background-color: #5A5C66;
  border: none;
  color: #B2B7BF;
  margin: 0px auto 6px 0px;
  display: block;
  padding: 0px 0px 8px 15px;
}

.search-img {
  width: 31px;
}

.search-btn {
  border: none;
  background: none;
  position: absolute;
  left: 45em;
  top: 1em;
}



form {
  position: relative;
}




